body { 
    background-color: #FFF;
    margin: 0;
    padding: 0;
}

    nav {
        background-color: #f3f3f3;
        
        font-family: "proxima-nova", sans-serif;
        font-size: 14px;
        
        text-transform: uppercase;
        text-align: center;
        
        letter-spacing: 0.1em;
        line-height: 42px;
        padding-left: 10px;
        padding-right: 10px;
    }

        nav a {
            text-decoration: none;
            color: #5a5a5a;
        }

            nav a:hover {
                color: rebeccapurple;
            }

            nav a.active {
                background-color: #FFF;     
            }

.dropdown {
  overflow: hidden;
    float: center;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  padding: 5px 6px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: block;
  /*position: absolute;*/
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 5px 8px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

        h1 {
            font-family: "proxima-nova", sans-serif;
            font-weight: bold;
            font-size: 80px;
        
            text-transform: uppercase;
            text-align: center;
        
            color: #121212;
        
            letter-spacing: 0.125em;
            line-height: 1em;
            padding-top: 10px;
        }

        h2 {
            font-family: "proxima-nova", sans-serif;
            font-weight: 400;
            font-size: 16px;
        
            text-transform: uppercase;
            text-align: center;
        
            color: #8b9a6f;
        
            letter-spacing: 0.5em; 
            line-height: 1.8em;
            padding-left: 200px;
            padding-right: 200px; 
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 28px;  
        }

        h3 {
            font-family: "proxima-nova", sans-serif;
            font-weight: 400;
            font-size: 20px;
            
            text-align: center;
            
            color: #696969;
            
            letter-spacing: 0px;
            line-height: 1.7em;
        }

        h5 {
            font-family: "Merienda";
            font-weight: 400;
            font-size: 20px;
            
            text-align: center;
            
            color: #B3B3B3;
        }

        h6 {
            font-family: "Merienda";
            font-weight: 400;
            font-size: 20px;
            
            color: #000000;
            
            padding-left: 200px;
        }

        .row {
            display: flex;
        }

        .column {
            flex: 50%;
    
            font-family: "proxima-nova", sans-serif;
            font-size: 16px;
            
            letter-spacing: 0px;
            line-height: 1.7em;
            
            margin-left: 230px;
        }

        main ul {
            font-family: "proxima-nova", sans-serif;
            font-size: 16px;
            
            letter-spacing: 0px;
            line-height: 1.7em;
            
            margin-left: 230px;
        }

        p {
            font-family: "proxima-nova", sans-serif;
            font-weight: 400;
            font-size: 16px;
        
            letter-spacing: 0px;
            line-height: 1.7em;
        
            padding-left: 200px;
            padding-right: 200px;
            margin: 28px;
        }

    footer {
        text-align: center;    
    }

        h4 {
            font-family: "proxima-nova", sans-serif;
            font-size: 14px;
            
            text-align: center; 
        }

/* Style inputs with type="text", select elements and textareas */
        input[type=text], select, textarea {
            width: 100%; /* Full width */
            padding: 12px; /* Some padding */  
            box-sizing: border-box; /* Make sure that padding and width stays in place */
            margin-top: 6px; /* Add a top margin */
            margin-bottom: 16px; /* Bottom margin */
            font-family: "proxima-nova", sans-serif;
            font-size: 16px;
            line-height: 1em;
            /* resize: vertical  Allow the user to vertically resize the textarea (not horizontally) */
        }

        /* Style the submit button with a specific background color etc */
        input[type=submit] {
            background-color: rebeccapurple;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-family: "proxima-nova", sans-serif;
            font-size: 14px;
            text-transform: uppercase;
        }

        input[type=submit]:hover {
        background-color: #000;
}

        /* Add a background color and some padding around the form */
        .container {
            width: 60%;
            top: 0;
            background-color: #f2f2f2;
            padding: 20px;
            margin: 0 auto;
            
            font-family: "Merienda";
            font-size: 18px;
        }

.logos {
    width: 100%;
    background-color: #eeeeee;
}


.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

@media screen and (max-width: 600px) {
}